<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Archive</title>
    <link href="../styles/index.css" rel="stylesheet" type="text/css" />
    <link href="../styles/Pokemon.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>

  <body class="bg">
    <div class="title">
      <h1><a class="select-text" href="/">Pokéteam</a></h1>
    </div>
    <div class="all">
      <table>
        <tr>
          <th>Name</th>
          <th>Pokémons</th>
        </tr>
        <% for (let i = 0; i < trainers.length; i++) { %>
        <tr>
          <td class="tname">
            <a href="/view/<%= trainers[i].name %>" class="select-text"
              ><%= trainers[i].name %>
            </a>
          </td>
          <td class="sprites">
            <% sprites[i].forEach((sprite, index) => { %>
            <a href="/pokemon/<%=trainers[i].pokemons[index] %>">
              <img
                class="select-image icon"
                src="<%= sprite %>"
                alt="<%= trainers[i].pokemons[index] %>"
              />
            </a>
            <% })} %>
          </td>
        </tr>
      </table>
    </div>
    <% if (pages > 0) { %>
    <div class="pagination">
      <ul>
        <% if (current == 1) { %>
        <li class="disabled">
          <strong><a>&lt;&lt;</a></strong>
        </li>
        <% } else { %>
        <li>
          <strong><a href="/archive/?page=1">&lt;&lt;</a></strong>
        </li>
        <% } %> <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <%
        if (i !== 1) { %>
        <li class="disabled">
          <strong><a>...</a></strong>
        </li>
        <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <%
        if (i == current) { %>
        <li class="active">
          <strong><a><%= i %></a></strong>
        </li>
        <% } else { %>
        <li><a href="/archive/?page=<%= i %>"><%= i %></a></li>
        <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="disabled">
          <strong><a>...</a></strong>
        </li>
        <% } %> <% } %> <% if (current == pages) { %>
        <li class="disabled">
          <strong><a>&gt;&gt;</a></strong>
        </li>
        <% } else { %>
        <li>
          <strong><a href="/archive/?page=<%= pages %>">&gt;&gt;</a></strong>
        </li>
        <% } %>
      </ul>
    </div>
    <% } %>
  </body>
</html>
