<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Process Team</title>
    <link href="styles/index.css" rel="stylesheet" type="text/css" />
    <link href="styles/Pokemon.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>

  <body class="bg">
    <div class="title">
      <h1><a class="select-text" href="/">Pokéteam</a></h1>
    </div>

    <div class="container">
      <form action="/processTeam" method="post">
        <label><strong>Name</strong></label>
        <br />
        <input type="text" name="name" required />
        <br />
        <label for="pokemon"><strong>Pick your Pokémons</strong></label>
        <br />
        <%- pick %> <%- pick %> <%- pick %> <%- pick %> <%- pick %> <%- pick %>
        <input type="submit" value="Add" />
      </form>
    </div>
  </body>
</html>
