<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%- name %>'s Team</title>
    <link href="../styles/index.css" rel="stylesheet" type="text/css" />
    <link href="../styles/Pokemon.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>
  <body>
    <h1><%- name %>'s Team</h1>
    <div class="team">
      <% pokemons.forEach((pokemon, index) => { %>
      <a class="select-text" href="../pokemon/<%= pokemon %>"
        ><img
          src="<%= sprites[index] %>"
          alt="<%= pokemon %>"
          class="select-image" /></a
      ><% }); %>
    </div>
    <h2><a class="select-text" href="javascript:history.back()">Back</a></h2>
    <h2><a class="select-text" href="/">Home</a></h2>
  </body>
</html>
